{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_navbarhelpmenu/helpmenu

    Help menu template.

    Example context (json):
    {
        "items": [
            {
                "url": "https://example.com",
                "title": "Lorem Ipsum",
                "target": "_self"
            },
            {
                "url": "https://foobar.org",
                "title": "Foo Bar",
                "target": "_blank"
            }
        ],
        "hasitems": true
    }
}}
{{#hasitems}}
    <div class="local-navbarhelpmenu dropdown">
        <button class="dropdown-toggle nav-link"
              tabindex="0"
              id="local-navbarhelpmenu-dropdown-toggle"
              aria-haspopup="true"
              aria-expanded="false"
              aria-label="{{#str}}togglehelpmenu, local_navbarhelpmenu{{/str}}"
              type="button"
              data-bs-toggle="dropdown"
        >
            {{#pix}}e/help{{/pix}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="local-navbarhelpmenu-dropdown-toggle" role="menu">
            {{#items}}
                <li role="menuitem"><a class="dropdown-item" href="{{url}}" tabindex="-1" target="{{target}}">{{title}}</a></li>
            {{/items}}
        </ul>
    </div>
{{/hasitems}}
